:root {
    --nav-bg-col: #333333;
    --nav-text-col: #ffffff;

    --header-bg-col: #000000cc;
    --header-text-col: #ffffff;

    --main-bg-col: #ffffff; /*fffdd1ee, if necessary*/
    --main-tex-col: #000000;

    --footer-bg-col: #e5b6f7;
    --footer-text-col: #000000;
}

header {
    background-image: url(../images/church1.jpeg);
    background-position: center;  /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;       /* Resize the background image to cover the entire container */
    background-attachment: scroll;
}