:root {
    --nav-bg-col: #333333;
    --nav-text-col: #ffffff;

    --header-bg-col: #000000cc;
    --header-text-col: #ffffff;

    --main-bg-col: #ffffff; /*fffdd1ee, if necessary*/
    --main-tex-col: #000000;

    --aside-bg-col: #615a5f;
    --aside-h4-col: #ffffff;
    --aside-l1-col: #eeeeee;
    --aside-l2-col: #bcbcbc;

    --footer-bg-col: #dcdcdc;
    --footer-fg-col: #000000;
}

header {
    background-image: url(../images/church1.jpeg);
    background-position: center;  /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;       /* Resize the background image to cover the entire container */
    background-attachment: scroll;
}