:root {
    --nav-bg-col: #333333;
    --nav-text-col: #ffffff;

    --header-bg-col: #000000cc;
    --header-text-col: #ffffff;

    --main-bg-col: #ffffff; /*fffdd1ee, if necessary*/
    --main-tex-col: #000000;

    --footer-bg-col: #7e2811;
}

/* Overarching Design */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0;
    margin: 0;
}

/* Navigation, including animations */

nav {
    box-sizing: border-box;

    position: fixed;
    top: 0;
    text-align: center;
    background-color: var(--nav-bg-col);
    color: var(--nav-text-col);

    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 50px;

    z-index: 10;
}

nav > ul {
    text-decoration: none;
    list-style: none;

    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
}

nav > ul > li {
    /* Alignment in navbar */
    flex: auto;
    
    /* Alignment of text inside */
    display: flex;
    justify-content: center;
    align-items: center;  

    font-family: 'Lora', serif;
    font-style: italic;
    /*text-transform: uppercase;*/
    /*letter-spacing: 2px;*/
    /*line-height: -5px;*/

    transition: background-color 500ms, color 500ms;
}

#link_index:hover {
    background-color: #7e2811;
    color: #ffffff;
}

#link_pathetique:hover {
    background-color: #d4af37;
    color: #ffffff;
}

#link_funeral:hover {
    background-color: #615a5f;
    color: #ffffff;
}

a {
    color: inherit;
    text-decoration: underline;
}

/* Header box */

header {
    box-sizing: border-box;

    width: 100%;
    min-height: 300px;

    background-image: url(../images/beethoven-statue-2.jpg);
    background-position: center;  /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;       /* Resize the background image to cover the entire container */
    background-attachment: scroll;

    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header_center {
    text-align: center;

    background-color: var(--header-bg-col);
    color: var(--header-text-col);

    width: 75%;
    /*height: 75%;*/
    padding: 30px;
    margin: 20px;
}

h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 2px;

    margin-top: 15px;
    margin-bottom: -10px;
}

h2 {
    font-family: 'Lora', serif;
    font-size: 30px;
    letter-spacing: 1px;

    margin-bottom: -5px;
}

/* Actual text */

h3 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px; 
}

section {
    box-sizing: border-box;

    max-width: 750px;
    background-color: var(--main-bg-col);
    font-family: 'Lora', serif;
    line-height: 1.6;

    border-radius: 10px;
    padding: 30px;
    border: 10px;
}

figure {
    max-width: 600px;
    text-align: center;
}

figure img {
    max-width: 600px
}

/* Footers and stuff */

footer {
    box-sizing: border-box;

    background-color: var(--footer-bg-col);
    color: var(--header-text-col);
    width: 100%;

    margin: 0;
    padding: 30px 15%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer_center {
    width: 100%;
    max-width: 700px;
    margin: 0;
}

#footer_center > h3 {
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#footer_center > img {
    float: left;
    margin-right: 20px 
}

#footer_center > address {
    font-family: 'Lora', serif;
    letter-spacing: 0.5px;
}