:root {
    --transition-time: 0.5s;

    --nav-bg-col: #333333;
    --nav-text-col: #ffffff;

    --header-bg-col: #000000cc;
    --header-text-col: #ffffff;

    --main-bg-col: #ffffff; /*fffdd1ee, if necessary*/
    --main-tex-col: #000000;

    --aside-bg-col: #d4af37;
    --aside-header-col: #cca62c;
    --aside-hover-col: #bb9928;
    --aside-active-col: #ab8c25;

    --aside-h4-col: #000000;
    --aside-l1-col: #111111;
    --aside-l2-col: #222222;

    --footer-bg-col: #dcdcdc;
    --footer-fg-col: #000000;
}

header {
    background-image: url(../images/theater.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: scroll;
}

aside a {
    font-weight: 350;
}
