body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0;
    margin: 0;
}

/* Navigation, including animations */

nav {
    box-sizing: border-box;

    position: fixed;
    top: 0;
    text-align: center;
    background-color: var(--nav-bg-col);
    color: var(--nav-text-col);

    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 50px;

    z-index: 10;
}

nav > ul {
    text-decoration: none;
    list-style: none;

    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
}

nav > ul > li {
    /* Alignment in navbar */
    flex: auto;

    /* Alignment of text inside */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-family: "Lora", serif;
    font-style: italic;
    /*text-transform: uppercase;*/
    /*letter-spacing: 2px;*/
    /*line-height: -5px;*/

    transition: background-color var(--transition-time),
        color var(--transition-time);
}

nav > ul#mobile_nav {
    /* Display: none doesn't work, so I'm using a workaround. */
    display: none;
}

nav > ul#mobile_nav > li#left {
    justify-content: left;
}

nav > ul#mobile_nav > li#right {
    justify-content: right;
}

nav > ul#mobile_nav > li > button {
    height: 50px;
    width: 50px;
    z-index: 11;

    background-color: rgba(0, 0, 0, 0);
    color: var(--nav-text-col);
    border: none;
    text-align: center;
}

nav > ul#mobile_nav > li > button:hover {
    background-color: var(--nav-hover-col);
}

nav > ul#desktop_nav {
    opacity: 1;
}

#link_index:hover {
    background-color: #7e2811;
    color: #ffffff;
}

#link_pathetique:hover {
    background-color: #d4af37;
    color: #ffffff;
}

#link_funeral:hover {
    background-color: #615a5f;
    color: #ffffff;
}

#link_lesadieux:hover {
    background-color: #b87333;
    color: #ffffff;
}

#link_sonata32:hover {
    background-color: #003153;
    color: #ffffff;
}

a {
    color: inherit;
    text-decoration: underline;
}

@media (max-width: 1000px) {
    nav > ul#mobile_nav {
        display: flex;
        z-index: 10;
    }

    nav > ul#desktop_nav {
        position: absolute;
        top: -30vh;
        z-index: 0;

        flex-direction: column;
        height: auto;
        /*padding: 0 0 1vh 0;*/

        background-color: var(--nav-bg-col);
    }

    nav > ul#desktop_nav > li {
        flex: 1;
        padding: 1vh 1vh 1.5vh 1vh;
    }

    @keyframes hover-in {
        from {
            top: -30vh;
        }
        to {
            top: 50px;
        }
    }
    @keyframes hover-out {
        from {
            top: 50px;
        }
        to {
            top: -30vh;
        }
    }
}

/* Header box */

header {
    box-sizing: border-box;

    width: 100%;
    min-height: 300px;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header_center {
    text-align: center;

    background-color: var(--header-bg-col);
    color: var(--header-text-col);

    width: 75%;
    /*height: 75%;*/
    padding: 30px;
    margin: 20px;
}

h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 2px;

    margin-top: 15px;
    margin-bottom: -10px;
}

h2 {
    font-family: "Lora", serif;
    font-size: 30px;
    letter-spacing: 1px;

    margin-bottom: -5px;
}

/* the wrapper */
/* I feel so guilty about adding a wrapper, but it must be done. */
#body-wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: row;

    width: 100%;
}

/* The table of contents */

aside {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;

    /*font-family:  'Lora', serif;*/
    font-family: "Josefin Sans", sans-serif;
    font-weight: 350;
    min-width: 200px;
    width: 250px;
    height: calc(100vh - 50px);

    background-color: var(--aside-bg-col);
    color: var(--aside-fg-col);

    overflow: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}
aside::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

aside > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

aside > ul > li {
    border-top: 1px solid rgba(250, 250, 250, 0.1);
    padding: 10px 10px 10px 30px;

    transition: background-color var(--transition-time);
}

aside > ul > li:hover {
    background-color: var(--aside-hover-col);
}

aside > ul > li > a {
    color: var(--aside-l1-col);
    font-size: 20px;
    text-decoration: none;
}

aside > ul > li > a:hover {
    color: var(--aside-l1-col);
}

aside > ul > li > ul {
    list-style: none;
    margin: 7.5px 0 0 0;
    padding: 0;
}

aside > ul > li > ul > li {
    margin: 0 0 5px 0;
    padding: 0 0 0 30px;
}

aside > ul > li > ul > li > a {
    color: var(--aside-l2-col);
    font-size: 15px;
    text-decoration: none;
}

aside > ul > li > ul > li > a:hover {
    color: var(--aside-l1-col);
}

@media (max-width: 1000px) {
    #body-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    aside {
        position: static;
        height: auto;

        width: 90%;
        max-width: 90%;

        background-color: var(--main-bg-col);
        color: var(--main-text-col);
    }

    aside h4 {
        color: var(--main-text-col);
        margin-top: 50px;
    }

    aside h4::after {
        content: " Table of Contents";
    }

    aside > ul > li > a {
        font-size: 20px;
        color: var(--main-text-col);
    }

    aside > ul > li > ul > li > a {
        font-size: 20px;
        color: var(--main-text-col);
    }
}

/* Actual text */

main {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 0;
    margin: 0;
    overflow-wrap: break-word;
}

iframe {
    margin-top: 100px;
    width: 70vmin; /* width="560" height="315" */
    height: 39vmin;
    max-width: 1280px;
    max-height: 745px;
}

h3 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 24px;
}

section {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 90%;
    background-color: var(--main-bg-col);
    font-family: "Lora", serif;
    line-height: 1.6;

    border-radius: 10px;
    padding: 30px;
    border: 10px;
}

section ul {
    width: 100%;
}

figure {
    width: 90%;
    max-width: 600px;
    text-align: center;
}

figure img {
    width: 100%;
    max-width: 600px;
}

/* Footers and stuff */

footer {
    box-sizing: border-box;

    background-color: var(--footer-bg-col);
    color: var(--footer-fg-col);
    width: 100%;

    margin: 0;
    padding: 5% 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer_center {
    width: 90%;
    max-width: 700px;
    margin: 0;
}

#footer_center > h3 {
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#footer_center > img {
    float: left;
    margin-right: 20px;
}

@media (max-width: 1000px) {
    #footer_center > img {
        float: none;
    }
}

#footer_center > address {
    /*font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;*/
    font-family: "Lora", serif;
    font-style: italic;
    letter-spacing: 0.5px;
}
